@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "NanumSquare"; /* 폰트 이름 정의 (원하는 이름으로 지정) */
    src: url("../assets/fonts/NanumSquareR.woff") format("truetype");
    font-weight: 400; /* 폰트 두께 */
    font-style: normal; /* 폰트 스타일 */
    font-display: swap; /* 폰트 로딩 방식 (선택 사항) */
}

@font-face {
    font-family: "NanumSquare";
    src: url("../assets/fonts/NanumSquareB.woff") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "NanumSquareRound";
    src: url("../assets/fonts/NanumSquareRoundR.woff") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "NanumSquareRound";
    src: url("../assets/fonts/NanumSquareRoundB.woff") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
